/* background image  */

body {
    background-image: url(../images/foods.jpg);
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
}

/* get container holding main text that is slightly transparent to see all the food and make people hungry  */

.container {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

.card {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0);
}

#butters {
    max-height: 25%;
    max-width: 25%;
}